body{
	background-color:rgb(64,64,64);	
}
h1{
	font-family: Titillium Web, sans-serif;
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 0.3em;
}

h2{
	font-family: Karla, sans-serif;
}

h3{
	font-family: Karla, sans-serif;
	margin-bottom: 0;
}

h4{
	font-family: Karla, sans-serif;
	margin-bottom: 0;
}

p{
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
}

.name {
	color: rgb(255,202,40);
}

.menu {
	text-align: center;
	font-size: 1.2em;
	margin: 0.1em;
	color: rgb(255,202,40);
}

.line {
	border: 1px solid rgb(255,202,40);
}

/*freelance web developer H4*/
.main {
	margin-top: 0;
	margin-bottom: 10px;
}

/* underline word */
.freela {
	text-decoration: underline;
	text-decoration-color: rgb(255,202,40);
}


img{
	display: block;
	margin: 20px 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: rgb(218,175,18);
	max-width: 50%;
	height: auto;
}
/* icons */
.fas.fa-graduation-cap.fa-2x {
	display: inline;
	padding-right: 10px;
	color: rgb(255,202,40);
}
.fas.fa-briefcase.fa-2x {
	display: inline;
	padding-right: 10px;
	color: rgb(255,202,40);
}
.fas.fa-pencil-alt.fa-2x {
	display: inline;
	padding-right: 10px;
	color: rgb(255,202,40);
}
.fas.fa-route.fa-3x {
	display: inline;
	color: rgb(64,64,64);
	padding: 5%;
}
.fas.fa-fish.fa-3x {
	display: inline;
	color: rgb(64,64,64);
	padding: 5%;
}
.fas.fa-camera-retro.fa-3x {
	display: inline;
	color: rgb(64,64,64);
	padding: 5%;
}

.info-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* lists */
.ul-list {
	width: 35%;
}

.list {
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
	padding: 0;
}

.list-body {
	width: 62%;
	margin-left: 3%;
}

.nobullet {
	list-style-type: none;
	padding-left: 1em;
	text-indent: 1em;
}

.imgbullet{
	list-style-type: none;
}

.imgbullet::before{
	content: '\25c9';
	padding-right: 1em;
	color: rgb(255,202,40);
	list-style-position: outline;
}

.imgbullet2{
	list-style-type: none;
}

.imgbullet2::before{
	content: '\25ce';
	padding-right: 1em;
	color: rgb(255,202,40);
	list-style-position: outline;
}


/* bottom flex */
.info-flex-bottom{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 5%;
}

.ul-list-bottom{
	width: 50%;
	text-align: center;
}

.list-body-bottom{
	width: 50%;
	text-align: center;
}

/* CSS grid */
.container {
	margin: 0 auto;
	max-width: 1100px;
	display: grid;
	grid-template-columns: 0.9fr 2fr;
	grid-template-rows: auto 30px 15em 30px auto 30px 4rem;
}

/* picture */
#item1 {
	background-color: rgb(255,202,40);
}
/* name */
#item2 {
	background-color: white;
	padding-left: 5%;
	padding-top: 5%;
}
/* contact */
#item3 {
	background-color: rgb(64,64,64);
	text-align: center;
}
/* Edu Exp Ref */
#item4 {
	background-color: white;
	padding-left: 5%;
	padding-right: 5%;
	grid-row: 2 / 8;
	grid-column: 2 / 3;
}
/* contact info */
#item5 {
	background-color: rgb(255,202,40);
	padding-left: 10%;
}
/* about me */
#item6 {
	background-color: rgb(64,64,64);
}
/* about me info */
#item7 {
	background-color: rgb(255,202,40);
	padding-left: 10%;
	padding-right: 10%;
	text-align: justify;
}
/* hobbies */
#item8 {
	background-color: rgb(64,64,64);
}
/* hobbies icons */
#item9 {
	background-color: rgb(255,202,40);
	text-align: center;
}

/* media query - phones */
@media (max-device-width: 480px){
	.container {
		display: flex;
		flex-direction: column;
		}
		#item1 {order: 1;}
		#item2 {order: 2;}
		#item3 {order: 3;}
		#item4 {order: 7;}
		#item5 {order: 4;}
		#item6 {order: 5;}
		#item7 {order: 6;}
		#item8 {order: 8;}
		#item9 {order: 9;}
	#item2 {
			background-color: white;
			text-align: center;
			padding-top: 0;
			padding-left: 0;
	}
	h1{
	font-family: Titillium Web, sans-serif;
	font-size: 2.5em;
	margin-bottom: 0;
	margin-top: 0;
}
}
	