body{
	background-color:#EAE7DC;
	
}
h1{
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	/*color:#E85A4F;*/
}

p{
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	display: grid;
	/*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
	grid-template-areas:
	"picture name"
	"contact educ"
	"cont-info educ"
	"about exp"
	"about-txt exp"
	"hobby ref"
	"icons ref";
	grid-template-columns: 400px 1fr;
}

img{
	display: block;
	margin: 20px 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: rgb(141,110,99);
	max-width: 50%;
	height: auto;
}

#item1 {
	grid-area: picture;
	background-color: rgb(255,202,40);
}

#item2 {
	grid-area: name;
}

#item3 {
	grid-area: contact;
	padding: 5px;
	background-color: rgb(141,110,99);
	color: rgb(255,202,40);
	text-align: center;
	font-size: 22px;
	max-height: 30px;
}

#item4 {
	grid-area: educ;
}

#item5 {
	grid-area: cont-info;
	background-color: rgb(255,202,40);
}

#item6 {
	grid-area: about;
	padding: 5px;
	background-color: rgb(141,110,99);
	color: rgb(255,202,40);
	text-align: center;
	font-size: 22px;
}

#item7 {
	grid-area: exp;
	
}

#item8 {
	grid-area: about-txt;
	background-color: rgb(255,202,40);
}

#item9 {
	grid-area: hobby;
	background-color:rgb(141,110,99);
	color: rgb(255,202,40);
	max-height: 30px;
	text-align: center;
	}
	
#item10 {
	grid-area: ref;
}
#item11 {
	grid-area: icons;
	background-color: rgb(255,202,40);
}

@media (max-width: 480px){
	.container {
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-template-areas:
	"picture"
	"name"
	"contact"
	"cont-info"
	"about"
	"about-txt"
	"educ"
	"exp"
	"ref"
	"hobby"
	"icons";
	}
}